.block1 {
  margin: 50px auto;
}

.block1 h1 a {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  background: #ccc;
  color: #666;
  /* text-shadow: 0px 0px 3px #000; gorizantalnye potom vertikali zatem razmytie */
  text-shadow: 0px 2px 0px #fff, 0px -2px 0 #000;
  text-decoration: none;
}

.block1 h1 a:hover {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  background: #ccc;
  color: #666;
  /* text-shadow: 0px 0px 3px #000; gorizantalnye potom vertikali zatem razmytie */
  text-shadow: 0px 2px 0px #666, 0px -2px 0 #666;
  text-decoration: none;
}

.block2 {
  background: #006699;
  width: 100px;
  word-wrap: break-word;
}