* {
  margin: 0;
  padding: 0;
}

div {
  margin: 50px auto;
  width: 300px;
  height: 150px;
}

.block1 {
  background: #04f1f1;
  background: -moz-radial-gradient(#053232, #04f1f1);
  background: -webkit-radial-gradient(#053232, #04f1f1);
  background: -o-radial-gradient(#053232, #04f1f1);
  background: -ms-radial-gradient(#053232, #04f1f1);
  background: radial-gradient(#053232, #04f1f1);
}

.block2 {
  background: #04f1f1;
  background: -moz-radial-gradient(50% 50%, circle, #053232, #04f1f1);
  background: -webkit-radial-gradient(50% 50%, circle, #053232, #04f1f1);
  background: -o-radial-gradient(50% 50%, circle, #053232, #04f1f1);
  background: radial-gradient(50% 50%, circle, #053232, #04f1f1);
}

.block3 {
  background: #04f1f1;
  background: -moz-radial-gradient(50% 50%, ellipse, #053232, #04f1f1);
  background: -webkit-radial-gradient(50% 50%, ellipse, #053232, #04f1f1);
  background: -o-radial-gradient(50% 50%, ellipse, #053232, #04f1f1);
  background: radial-gradient(50% 50%, ellipse, #053232, #04f1f1);
}

.block4 {
  background: #04f1f1;
  background: -moz-radial-gradient(50% 50%, circle,  #053232 10px, #04f1f1 11px, #04f1f1 30px, #990000 31px, #990000 40px, #04f1f1);
  background: -webkit-radial-gradient(50% 50%, circle,  #053232 10px, #04f1f1 11px, #04f1f1 30px, #990000 31px, #990000 40px, #04f1f1);
  background: -o-radial-gradient(50% 50%, circle,  #053232 10px, #04f1f1 11px, #04f1f1 30px, #990000 31px, #990000 40px, #04f1f1);
  background: radial-gradient(50% 50%, circle, #053232 10px, #04f1f1 11px, #04f1f1 30px, #990000 31px, #990000 40px, #04f1f1);
}

.block5 {
  background: #04f1f1;
  background: -moz-radial-gradient(50% 50%, circle contain, #053232, #04f1f1);
  background: -webkit-radial-gradient(50% 50%, circle contain, #053232, #04f1f1);
  background: -o-radial-gradient(50% 50%, circle contain, #053232, #04f1f1);
  background: radial-gradient(50% 50%, circle contain, #053232, #04f1f1);
}

.block6 {
  background: #04f1f1;
  background: -moz-radial-gradient(20% 20%, circle closest-corner, #053232, #04f1f1);
  background: -webkit-radial-gradient(20% 20%, circle closest-corner, #053232, #04f1f1);
  background: -o-radial-gradient(20% 20%, circle closest-corner, #053232, #04f1f1);
  background: radial-gradient(20% 20%, circle closest-corner, #053232, #04f1f1);
}

.block7 {
  background: #04f1f1;
  background: -moz-radial-gradient(20% 20%, circle farthest-side, #053232, #04f1f1);
  background: -webkit-radial-gradient(20% 20%, circle farthest-side, #053232, #04f1f1);
  background: -o-radial-gradient(20% 20%, circle farthest-side, #053232, #04f1f1);
  background: radial-gradient(20% 20%, circle farthest-side, #053232, #04f1f1);
}

.block8 {
  background: #04f1f1;
  background: -moz-radial-gradient(20% 20%, circle cover, #053232, #04f1f1);
  background: -webkit-radial-gradient(20% 20%, circle cover, #053232, #04f1f1);
  background: -o-radial-gradient(20% 20%, circle cover, #053232, #04f1f1);
  background: radial-gradient(20% 20%, circle cover, #053232, #04f1f1);
}